:root {
  --primary-color:rgb(255, 115, 0);   /* Green */
  --secondary-color:rgb(254, 216, 93); /*  Dark Green */
  --accent-color:rgb(245, 245, 245);    /*  Light Gray */
  --text-color:rgb(255, 115, 0);      /*  Black */
  --card-bg: #FFFFFF;         /*  White */
  --button-bg: #E0E0E0;       /*  Light Gray */
}

i.bx, i[class*="bx-"] {
  position: static !important; /* force icons to be normal */
}
