/* TopBar */
.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: gray;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 250;
  right: 0;
  z-index: 1000; 
}

/* Search Bar */
.searchInput {
  flex: 1; 
  max-width: 600px; 
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

/* Profile Section */
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Profile Image */
.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  postion: fixed;
}

/* Username */
.userName {
  font-size: 16px;
  font-weight: bold;
  postion: fixed;
}

/*Create Flashcard*/
.content {
  background: rgb(255, 115, 0);
  height: 550px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

i {
  font-size: 30px;
  position: absolute;
  right: 0;
}

.textboxes{
  width: 1000px; 
  padding: 0.5rem;
  font-size: 1rem;
  align-items: center; 
}

.content input {
  width: 1000px;
  padding: 0.5rem;
  font-size: 1rem;
  align-items: center; 
}

/* .import {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.import i {
  font-size: 1.2rem;
  margin: 0; 
} */

.problem{
  background-color: orange;
}
