.container {
    display: flex;
    height: 100vh;
    background-color: #3a7d44;
    padding: 2rem;
  }
  
  .signupForm {
    flex: 1;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .signupForm h2 {
    margin-bottom: 10px;
  }
  
  .signupForm p {
    margin-bottom: 20px;
  }
  
  .signupButton {
    background-color: #3a7d44;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  .features {
    flex: 1;
    background-color: #1a1a1a;
    color: white;
    padding: 2rem;
    border-radius: 8px;
  }

  .features h2{
    color: white;
  }
  